<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars List</title>
    <style>
        body {
            font-size: 170%;

        }
    </style>
</head>
<body>
<h1>Cars list</h1>
<table class="table-header">
    <thead>
    <tr>
        <th scope="col">Model</th>
        <th scope="col">Series</th>
        <th scope="col">Color</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each = "cars : ${cars}">
        <td th:text="${cars.model}">
        <td th:text="${cars.series}">
        <td th:text="${cars.color}">
    </tr>
    </tbody>
</table>
</body>
</html>